# Entornos virtuales
siga_env/
.conda/
env/
venv/

# Datos (Regla estricta: NUNCA subir datos a GitHub)
*.csv
*.parquet
*.json
*.sqlite
*.db
data/
datasets/

# Caché y compilados de Python
__pycache__/
*.pyc
*$py.class

# Variables de entorno y contraseñas
.env
.secrets
